<% @page_title = "User Menu" %>

<div>
  <h2>Student Home Page</h2>
  <div>Logged in as:</div>
  <ul>
    <li><%= link_to("Search For Content", :controller => 'content') %></li>
    <li><%= link_to("Update My Profile", :controller => 'profile') %></li>
    <li><%= link_to("Logout", :action => 'logout') %></li>
  </ul>
</div>