
<br/>

<% @page_title = "Renew Subscription" %>
<div>
  
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Student Home Page</h1>
  
<br/>
  
<h2>Your Subscription Has Expired!</h2>
  
<br/>
  
<a href="#">Re-new my subscription</a>
</div>
